p{
    color: red;
    text-align : left ;
}
a{
    text-decoration: none;
}   
div{
    height :50px;
    background-color: blueviolet;
    width: 100px;
    border-style: solid;
    border-color: brown;
    text-align: right;
color: white;

}
h1{
     color: blue;
}